# Node / Next.js
node_modules/
.next/
.turbo/
out/
build/
dist/
coverage/
.cache/

# Env files
.env
.env.*
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# IDE/OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Package managers
.pnp.*
.yarn/*
.pnpm-store/

# Misc
.eslintcache
.vercel/

